@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


*{ 
    margin: auto;
    padding: 0%;
}


header{
    min-height: 110px;
    margin-top: 30px;
}


img#logo {
    position: absolute;
    display: inline;
    width: 291px;
    height: 103px;
    left: 74px;
    top: 9px;
}
div#search-box{
    display: inline;
    position: absolute;
    width: 550px;
    left: 440px;
    top: 39px;
    height: 50px;
    border: 2px solid #7AD3F0;
    padding-bottom: -10px;
}
select#todosite{
    width: 123px;
    height: 45px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    border: 1px solid #ffffff;
    color: #7AD3F0;
}
input#search-box{
    width: 70%;
    height: 70%;
    font-size: 20px;
    line-height: 1;
    border: 3px rgba(184, 17, 17, 0); 
    padding-bottom: 5px;
    padding-left: 10px;
}
header > p{
    position: absolute;
    right: 127px;
    text-align: right;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: normal;
}


div#login{
    display: inline;
    position: absolute;
    right: 120px;
    top: 45px;
}
div#login > a{
    margin-bottom: 20px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
}
div#login > p{
    display: inline;
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
}
img#carrinho{
    position: absolute;
    right: 30px;
    top: 40px;
}


nav{
   background-color: #7AD3F0;
   padding: 18px;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.219); 
}
div#links > a{
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    transition-duration: 0.3s;
    margin-right: 18px;
}
div#links > a:hover{
    background-color: #66b5cf;
    color: #417283; 
}
div#links{
    display: inline;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 3px;
}
select#categoria{
    width: 150px;
    background-color: #7AD3F0;
    display: inline;
    padding: 3px 0px 5px 0px;
    margin-left: 100px;
    text-decoration: none;
    border: 1px solid #7AD3F0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    font-weight: bold;
}



body {
    margin: 0px;
    padding: 0px;
}
img#anuncioimagem{
   position:absolute;
   right: 30px;
   height: 90%;
}
div#anuncio > h2{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: white;
    display: inline;
    font-style: normal;
    font-weight: bold;
    font-size: 2em;
    line-height: 47px;
    position: absolute;
    left: 100px;
}
div#anuncio{
    border-radius: 25px;
    background-color: #C0CCDA;
    top: 250px;
    position: absolute;
    left: 35px;
    margin-top: 5px;
    height: 195px;
    margin: auto;
    width: 95%;
    padding: 10px;
}
div#procura{
    position: absolute;
    top: 510px;
    left: 40px;
}
div#procura > h2{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
}
div#procura > p{
    margin-top: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 1.1em;
    line-height: 18px;
}
div#procura > button{
    width: 185px;
    margin-top: 30px;
    padding: 18px;
    border: 2px solid #66b5cf;
    margin-right: 20px;
    border-radius: 5px;
    background-color: white;
    color: #66b5cf;
    font-style: normal;
    font-weight: bold;
    font-size: 1.1em;
    line-height: 20px;
    display: inline-block;
    cursor: pointer;
    transition-duration: 0.3s;
}
div#procura > button:focus{
    background-color: #66b5cf;
    color: white;
    
}

main{

}
div#quadradao1{
    position: absolute;
    top: 400px;
}
